<div class="">
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <span style="float: right">
                <small>By : </small>
                {{ allArticles.author[0]['lastname'] }} {{ allArticles.author[0]['firstname'] }}
                | <small>Le : </small>{{ allArticles.date }}
            </span>
            <br>
            {{ allArticles.titleA }}
        </div>
        <div class="panel-body text-center">
            <p>{{ allArticles.contentA }}</p>
        </div>
        <div class="panel-footer">
            <button class="let-com btn btn-sm btn-info">Laisser un commentaire</button>
            <button class="cancel-com btn btn-sm btn-danger" style="display: none">Annuler</button>
            <div class="com" style="display: none">
                <br>
                <!--<img src="../img/avatar.png" alt="img-profile" style="width: 50px">-->
                <form class="form-com">
                    <div class="form-group form-inline" >
                        <input type="text" class="form-control input-sm" id="nomPrenom" placeholder="Nom & Prénom*">
                        <input type="email" class="form-control input-sm" id="inputEmail" placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control input-sm" rows="5" id="textareaCommentaire" placeholder="Votre commentaire*"></textarea>
                    </div>
                    <small style="color: red;">* Champs obligatoires</small><br>
                    <button type="submit" class="btn btn-sm btn-primary">Envoyer</button>
                    <button type="reset" class="btn btn-sm btn-danger">Réinitialiser</button>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".let-com").click(function(e){
            e.preventDefault();
            $(".cancel-com").show();
            $(".let-com").hide();
            $(".com").slideDown("fast");
        });
        $(".cancel-com").click(function(e){
            e.preventDefault();
            $(".form-com")[0].reset();
            $(".let-com").show();
            $(".cancel-com").hide();
            $(".com").slideUp("fast");
        });
    })
</script>