<div class="col-lg-12">
    <div class="jumbotron" ng-controller="InscriptionController">
        <h1 class="text-center">Inscription</h1>
        <h6 class="text-center">Veuillez saisir les données suivante pour pouvoir valider votre inscription</h6>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputNom" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="user.firstname" class="form-control" id="inputNom" placeholder="Nom">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPrenom" class="col-sm-2 control-label">Prénom</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="user.lastname" class="form-control" id="inputPrenom" placeholder="Prénom">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" ng-model="user.mail" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="user.password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="create(user)">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>