<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div style="width: 65%;margin-left: auto;margin-right: auto;">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Nouvelle article</h3>
                                <p>Remplissez ces champs pour pouvoir insérer votre articles.</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>

                        <div class="form-bottom">
                            <form  class="registration-form">
                                <div class="alert alert-success text-center" role="alert" ng-show="registrationSuccess">{{ registrationSuccess }}</div>
                                <div class="alert alert-danger text-center" role="alert" ng-show="registrationFailed">{{ registrationFailed }}</div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Titre...">
                                    <span class="help-block alert-danger">{{ firstnameRequired }}</span>
                                </div>
                                <div class="form-group">
                                    <input type="text"  class="form-control" id="firstname" name="firstname" placeholder="Description...">
                                    <span class="help-block alert-danger">{{ lastnameRequired }}</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="mail" name="mail" placeholder="Contenu...">
                                    <span class="help-block alert-danger">{{ mailRequired }}</span>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control" id="file" name="file" placeholder="Image...">
                                    <span class="help-block alert-danger">{{ mailRequired }}</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="passwd" id="passwd" placeholder="Password...">
                                    <span class="help-block alert-danger">{{ passwordRequired }}</span>
                                </div>
                                <button type="submit" class="btn btn-sign-log" >J'envoi mon article !</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

