<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div style="width: 80%;margin-left: auto;margin-right: auto;">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Nouvelle article</h3>
                                <p>Remplissez ces champs pour pouvoir insérer votre articles.</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form  class="registration-form">
                                <div class="form-group">
                                    <input type="text" ng-model="article.titleA" class="form-control" id="titleA" name="titleA" placeholder="Titre...">
                                    <span class="help-block alert-danger">{{ titleARequired }}</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" ng-model="article.longDescA" class="form-control" id="longDescA" name="longDescA" placeholder="Description...">
                                    <span class="help-block alert-danger">{{ longDescARequired }}</span>
                                </div>
                                <div class="form-group">
                                    <textarea ng-model="article.contentA" class="form-control" id="contentA" name="contentA" placeholder="Contenu..."></textarea>
                                    <span class="help-block alert-danger">{{ contentARequired }}</span>
                                </div>
                                <div class="form-group">
                                    <label for="img">Image</label>
                                    <input type="file" ng-model="article.img" class="form-control" id="img" name="img" placeholder="Image...">
                                    <span class="help-block alert-danger">{{ imgRequired }}</span>
                                </div>
                                <button type="submit" class="btn btn-sign-log" ng-click="insertArticle(article)">J'envoi mon article !</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

