<div style="margin-top: 90px"></div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-lock"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: {{ user._id }}<br>
                    <strong>email</strong>: {{ user.local.mail }}<br>
                    <strong>password</strong>: {{ user.local.passwd }}<br>
                    <strong>id</strong>: {{ users }}<br>
                    <strong>email</strong>: {{ user }}<br>
                    <strong>password</strong>: {{ users.mail }}
                </p>

            </div>
        </div>

    </div>

</div>