html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.link-article-home:hover {
    text-decoration: none;
    color: #000;
}
.link-article-home {
    color: #000;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -73px;
    /* Pad bottom by footer height */
    padding: 0 0 73px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 73px;
    border-color: rgba(0, 0, 0, .7);
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
    color: white;
}

#footer .list-inline>li>a {
    color: white;
    font-weight: bold;
    padding: 10px 15px 10px;
    margin-top: 5px;
}
#footer .list-inline>li>a:hover {
    color: #7E97F7;
    background: #353549;
    border-radius: 10px;
    text-decoration: none;
}

.footer-container {
    padding-top: 20px;
}

.hover-panel:hover{
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.panel{
    margin: 0;
}

.no-underline:hover {
    text-decoration: none;
}

/** LOADER **/
#pluswrap {
    /*margin-top: -512px;*/
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.31);
    z-index: 9;
    margin-left: -59px;
    margin-top: -47px;
}

.plus {
    display: flex;
    margin: 0 auto;
}

/*.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;}*/

.contener_general
{
    -webkit-animation:animball_two 1s infinite;
    -moz-animation:animball_two 1s infinite;
    -ms-animation:animball_two 1s infinite;
    animation:animball_two 1s infinite;
    width:44px; height:44px;
}
.contener_mixte
{
    width:44px; height:44px; position:absolute;
}
.ballcolor
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.ball_1, .ball_2, .ball_3, .ball_4
{
    position: absolute;
    -webkit-animation:animball_one 1s infinite ease;
    -moz-animation:animball_one 1s infinite ease;
    -ms-animation:animball_one 1s infinite ease;
    animation:animball_one 1s infinite ease;
}
.ball_1
{
    background-color:#cb2025;
    top:0; left:0;
}
.ball_2
{
    background-color:#f8b334;
    top:0; left:24px;
}
.ball_3
{
    background-color:#00a096;
    top:24px; left:0;
}
.ball_4
{
    background-color:#97bf0d;
    top:24px; left:24px;
}

@-webkit-keyframes animball_one
{
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}
@-moz-keyframes animball_one
{
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}
@-ms-keyframes animball_one
{
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}
@keyframes animball_one
{
    0%{ position: absolute;}
    50%{top:12px; left:12px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}

@-webkit-keyframes animball_two
{
    0%{-webkit-transform:rotate(0deg) scale(1);}
    50%{-webkit-transform:rotate(360deg) scale(1.3);}
    100%{-webkit-transform:rotate(720deg) scale(1);}
}
@-moz-keyframes animball_two
{
    0%{-moz-transform:rotate(0deg) scale(1);}
    50%{-moz-transform:rotate(360deg) scale(1.3);}
    100%{-moz-transform:rotate(720deg) scale(1);}
}
@-ms-keyframes animball_two
{
    0%{-ms-transform:rotate(0deg) scale(1);}
    50%{-ms-transform:rotate(360deg) scale(1.3);}
    100%{-ms-transform:rotate(720deg) scale(1);}
}
@keyframes animball_two
{
    0%{transform:rotate(0deg) scale(1);}
    50%{transform:rotate(360deg) scale(1.3);}
    100%{transform:rotate(720deg) scale(1);}
}
/** END LOADER **/

/* Bootstrap NavBar */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: #7E97F7;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
    padding: 10px 15px 10px;
    margin-top: 5px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #7E97F7;
    background: #353549;
    border-radius: 10px;
}
.navbar-default {
    border-color: rgba(0, 0, 0, .7);
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
.item{
    height: 600px;
}
.carousel {
    width:100%;
}

.bg-img {
    background-image: url('../img/img-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.title-blog {
    margin: auto;
    line-height: 300px;
    color: #FFF;
    font-size: 100px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}

/* HOME PAGE ARTICLE */
.row{
    margin-left: auto;
    margin-right: auto;
}
/* image thumbnail */
.thumb {
    display: block;
    width: 100%;
    margin: 0;
}

/* Style to article Author */
.by-author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
    width: 482px;
    height: 350px;
    position: relative;
    margin-bottom: 1em;
}

.featured-article .block-title {
    /* Position & Box Model */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* background */
    background: rgba(0,0,0,0.7);
    /* Width/Height */
    padding: .5em;
    width: 100%;
    /* Text color */
    color: #fff;
}

.featured-article .block-title h2 {
    margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
    padding-left: .5em;
}

.main-list .media {
    padding-bottom: 1.1em;
    border-bottom: 1px solid #e8e8e8;
}

/*
 * override the default CSS as an example
 */

#loading-bar .bar {
    background: #87F;
}
#loading-bar .peg {
    box-shadow: 0 0 10px #87F, 0 0 5px #87F;
}

